# ========================================
# SENSIBLE — NO SUBIR NUNCA
# ========================================
.env
*.env
env/
credentials/
secrets/
docker-compose.override.yml


settings_local.py
local_settings.py


__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb


venv/
.venv/


*.log


db.sqlite3
*.sqlite3


primary_data/
replica_data/
mysql_data/
docker/mysql_primary/
docker/mysql_replica/
docker/mysql/
docker/data/
data/


docker/mysql/**/init/*


tmp/
*.pid
*.pid.lock
*~



staticfiles/
static/
media/

# archvs generados por collectstatic
backend/staticfiles/
backend/static/


.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
Desktop.ini


*.zip
*.tar
*.gz
*.rar
*.7z


.pip/
.cache/
pytest_cache/
migrations/*__pycache__/


.coverage
coverage.xml
htmlcov/
